body{
  background-image: url(../images/fondo-pokemon.png);
  background-size: cover;
}

.informacion__caracteristicas--imagen{
  text-align: center;
}

/*
.informacion__caracteristicas--tabla, .informacion__caracteristicas--grafico, .informacion__caracteristicas--imagen {
  border: solid 3px #000;

}
*/
